/* CSS Custom Properties Definitions */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-4xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-ko-sans: 'Noto Sans KR', sans-serif;
  --fontFamily-ko-serif: 'Nanum Myeongjo', serif;
  --fontFamily-en-sans: 'Roboto', sans-serif;;
  --fontFamily-en-serif: 'Roboto Slab', serif;
  --fontFamily-sans: var(--fontFamily-ko-sans);
  --fontFamily-serif: var(--fontFamily-ko-serif);
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  /* colors light mode */
  --color-background-light-mode: #ffffff;
  --color-background-thick-light-mode: #eaeaea;
  --color-shadow-light-mode: #cbcbcb;
  --color-primary-light-mode: #005b99;
  --color-title-light-mode: #1e1e1e;
  --color-text-light-mode: #2e353f;
  --color-text-softly-light-mode: #4f5969;
  --color-heading-light-mode: #1a202c;
  --color-accent-light-mode: #d1dce5;
  /* colors dark mode */
  --color-background-dark-mode: #ffffff;
  --color-background-thick-light-mode: #eaeaea;
  --color-shadow-dark-mode: #cbcbcb;
  --color-primary-dark-mode: #005b99;
  --color-title-dark-mode: #1e1e1e;
  --color-text-dark-mode: #2e353f;
  --color-text-softly-dark-mode: #4f5969;
  --color-heading-dark-mode: #1a202c;
  --color-accent-dark-mode: #d1dce5;
  --color-accent-light-mode: #d1dce5;
  /* colors */
  --color-background: var(--color-background-light-mode);
  --color-background-thick: var(--color-background-thick-light-mode);
  --color-shadow: var(--color-shadow-light-mode);
  --color-primary: var(--color-primary-light-mode);
  --color-title: var(--color-title-light-mode);
  --color-text: var(--color-text-light-mode);
  --color-text-softly: var(--color-text-softly-light-mode);
  --color-heading: var(--color-heading-light-mode);
  --color-accent: var(--color-accent-light-mode);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-softly);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  text-decoration: none;
  color: inherit;
}

/* Custom classes */
/* 
.global-wrapper {
  padding: 0 var(--spacing-5) var(--spacing-10) var(--spacing-5);
} */

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-12);
}

.global-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: var(--maxWidth-full);
  height: 60px;
  text-align: center;
  background-color: var(--color-background);
  transition: box-shadow 0.3s;
}

.global-header.scrolled {
  box-shadow: 0 0 var(--spacing-4) var(--color-shadow);
}

.global-header .heading-wrapper {
  display: inline-flex;
  flex-direction: row;
}

.global-header .heading-favicon {
  /* width: 60px; */
  height: 60px;
  padding: 14px var(--spacing-2);
  /* font-size: var(--fontSize-7); */
  margin: 0;
}

.global-header .heading-favicon img {
  width: 32px;
  height: 32px;
}

.global-header .heading-title {
  display: inline-flex;
  align-items: center;
  color: var(--color-title);
  font-size: var(--fontSize-3);
  font-weight: var(--fontWeight-bold);
  font-style: var(--fontFamily-sans);
}

.global-footer {
  padding: 0;
  width: var(--maxWidth-full);
  background-color: var(--color-background-thick);
  text-align: center;
}

.global-footer .footer-list {
  padding: var(--spacing-8);
}

.global-footer .footer-list a {
  font-family: var(--fontFamily-en-sans);
  font-weight: var(--fontWeight-bold);
  color: var(--color-title);
  padding: 0 var(--spacing-6);
}

.global-footer .copylight {
  font-family: var(--fontFamily-en-serif);
  padding: 0 0 var(--spacing-4) 0;
  font-size: var(--fontSize-0);
}

.main-wrapper {
  margin: 60px auto var(--spacing-0) auto;
  padding: var(--spacing-10) 0 var(--spacing-8) 0;
  max-width: var(--maxWidth-wrapper);
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
  border: 1px solid var(--color-shadow);
  padding: var(--spacing-4) var(--spacing-5);
  transition: border 0.2s;
}

.post-list-item:hover {
  cursor: pointer;
  border: 1px solid var(--color-text);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item header {
  font-size: var(--fontSize-3);
  font-weight: var(--fontWeight-bold);
  color: var(--color-title);
}

.post-list-item section {
  font-size: var(--fontSize-1);
  margin: var(--spacing-2) 0;
}

.post-list-item footer {
  font-size: var(--fontSize-0);
  color: var(--color-text-softly);
}

.post-list-item footer .separator {
  margin: 0 var(--spacing-1);
}

.post-list-item footer .tag-card {
  opacity: 0.9;
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-8);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
  border: 1px solid var(--color-shadow);
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post footer .bio {
  margin-top: var(--spacing-4);
}

/* .blog-post .tags ul {
  list-style: none;
}

.blog-post .tags ul li {
  display: inline-block;
  margin-right: 1rem;
  text-align: center;
}

.blog-post .tags ul li a {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  text-decoration: none;
  color: black;
  font-size: 0.85rem;
  border-width: 4px;
  border-radius: 0.25rem;
  background-color: #e9ddc5;
}

.blog-post .tags ul li a:hover {
  background-color: #d6c5a3;
} */

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

.tag-card {
  font-family: var(--fontFamily-en-sans);
  font-weight: var(--fontWeight-semibold);
  color: var(--color-text);
  padding: var(--spacing-1) var(--spacing-2);
  margin-right: var(--spacing-1);
  border-radius: 3px;
}

.tag-card:last-child {
  margin-right: 0;
}

a.tag-card:hover {
  opacity: 0.8;
}

.tag-list {
  box-shadow: 0 0 var(--spacing-2) var(--color-shadow);
  padding: var(--spacing-6);
  margin: var(--spacing-10) 0;
  font-family: var(--fontFamily-en-sans);
}

.tag-list h1 {
  margin: 0 0 var(--spacing-6) 0;
  font-size: var(--fontSize-5);
  text-align: center;
}

.tag-list table {
  margin: 0;
}

.tag-list table tr {
  background-color: var(--color-background);
  transition: background-color 0.2s;
}

.tag-list table tr:hover {
  cursor: pointer;
  background-color: var(--color-background-thick);
}

.tag-list table td {
  font-size: var(--fontSize-2);
  font-weight: var(--fontWeight-semibold);
  padding: var(--spacing-2) var(--spacing-4);
}

.tag-list table td.post-count {
  text-align: right;
}

.heading-tag-desc {
  text-align: center;
}


/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
